.footer {
    background-color: #121212;
    /* Change this to your desired footer color */
    display: flex;
    /* Make footer a flex container for alignment */
    flex-direction: row;
    justify-content: space-between;
    /* Align content horizontally with even space between */
    position: fixed;
    /* Fix the footer to the viewport */
    bottom: 0;
    /* Position it at the bottom */
    width: 100%;
    /* Make it occupy the full width */
}

.footerContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-right: 230px;
}

.footerImage {
    margin-right: 20px;
    max-width: 50px;
    height: 50px;
}

.footerText {
    font-size: 14px;
    text-align: center;
}