:root {
    --primary: white;
    --primary-hover: #0058f2;
    --primary-solid: #0069ff2e;
    --primary-dark: #003e96;
  }

body,


html {
    margin: 0;
    padding: 3%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #121212;
    color: #ffffff;
}

.inputArea input,
button {
    padding: 10px;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 16px;
    background-color: #333333;
    border: none;
    color: #ffffff;
    border-radius: 5px;

}

button:hover {
    background-color: #555555;
}

h1 {
    text-align: center;
}